:root {
    --black: #000000;
    --red: #da1a34;
    --white: #ffffff;
    --yellow: #ffa83d;
    --orange: #f86d26;
    --lightPurple: #d9dfed;
    --purple: #554eb1;
    --gray: #656565;
    --lightGray: #949494;
}